<div class="row mt-5">
  <div class="col-12 col-md-10 mx-auto">
    <%if !@tournaments.empty?%>
      <h3 class="text-white" >Selecciona el torneo para el cual quieres consultar la tabla de puntos:</h3>

      <ul>
        <% @tournaments.each do |t|%>
          <a class="link-primary" href="/points?id_tournament=<%= t.id%>"><li><%= t.name%></li></a>
        <% end %>
      </ul>

      <%if @torneo_selected%>
        <% if !@points.empty? %>
          <h3 class="text-white">Puntajes <%= @points.first.tournament.name %></h3>
          <table style="border-color: #3aa17a;" class="text-white table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Puntos</th>
              </tr>
            </thead>
            <tbody>
              <% @points.each_with_index do |p,i|%>
                <tr>
                  <th scope="row"><%= i+1%></th>
                  <td><%= p.player[:name]%></td>
                  <td><%= p[:total_points]%> pts</td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <form action='/export-pdf' method='get'>
              <input type="hidden" name="name_tournament" value="<%=@name_tournament%>">
              <input type="hidden" name="prueba" value="<%=@prueba%>">
              
              <button style="margin-bottom: 0 !important;" type="submit" class="btn bg-primary-color secondary-color" id="submit-b">Descargar</button>
              
         </form> 
      
        <% else %>
          <p class="text-white">Aun no se realizaron predicciones sobre el torneo seleccionado.</p>
        <% end %>
      <%end%>

    <%else%>
      <p class="text-white">No hay torneos disponibles para jugar.</p>
    <%end%>
  </div>
</div>
