<div class="row mt-5">
  <div class="col-12 col-md-10 mx-auto">
    <% if flash[:error] %>
      <p class="text-white"><%=flash[:error]%></p>
    <% else %>
      <p class="text-white"><%=flash[:success]%></p>
    <% end %>
    <h3 class="text-white">Actualizar partido: </h3>
    <form action="/matches/<%=@match.id%>" method="post">
      <input type="hidden" name="_method" value="PUT">
      <div class="row bg-primary-color rounded-2 p-2 mb-3">
        <div class="col-12 col-md-10">
          <div class="row">
            <div class="col-12 col-md-6 d-flex">
              <label for="home_team_id"  style="font-size: 18px;" class="fw-bold">Fecha:</label>
              <input class="form-control form-control-sm ms-2" style="width: 30%;" type="datetime" name="datetime" id="">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-md-3">
              <b class="mb-0"><%=@match.home.name%>  VS  <%=@match.away.name%></b>
            </div>
            <div class="col-12 col-md-3">
              <label for="result" class=" fw-bold">Resultado:</label>
                <select class='form-select-sm' style="font-size: 16px;" name="result">
                <option value="HOME" >LOCAL</option>
                <option value="AWAY">VISITANTE</option>
                <% if @match.match_type == 'LEAGUE' %>
                <option value="DRAW">EMPATE</option>
                <% end %>
              </select>
            </div>
            <div class="col-6 col-md-3 d-flex">
              <label for="localGoals" class=" fw-bold">Goles local:</label>
                 <input class="ms-1 form-control form-control-sm" style="width: 50px;" min="0" type="number" name="home_goals">
            </div>
            <div class="col-6 col-md-3 d-flex">
              <label for="visitGoals" class=" fw-bold">Goles visitante:</label>
               <input class="ms-1 form-control form-control-sm" style="width: 50px;" min="0" type="number" name="away_goals">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button style="margin-bottom: 0 !important;" type="submit" class="btn bg-secondary-color primary-color secondary-button mb-3">Actualizar Partido</button>
        </div>
      </div>
    </form>
  </div>
</div>