<div class="row mt-5">
  <div class="col-11 col-md-7 mx-auto">
    <h3 class="text-white">Actualizar Equipo: </h3>
    <% if flash[:success]%>
      <p class="text-white"><%= flash[:success]%></p>
    <%end %>
    <%if flash[:error]%>
      <p class="text-white"><%= flash[:error]%> </p>
    <%end %>
    <div style="width: 60%;" class="box p-3 mt-2 bg-primary-color rounded-2">
      <form action='/teams/<%=@team.id%>' method='POST'>
      <input type="hidden" name="_method" value="PUT">
       <div class="row d-flex align-items-center">
          <div class="col-9 d-flex flex-column">
                  <div class="d-flex mb-3">
                    <label style="font-size: 18px;" class="me-1 fw-bold" for="name">Nombre: <%=@team.name%></label>
                  </div>
                  <div>
                    <label style="font-size: 18px;" class="me-1 fw-bold" for="name">Torneos:</label> 
                  </div>
                  <div>
                    <%@tournaments_to_choice.each do |tournament| %>
                    <input type="checkbox" name="tournament_names[]" value="<%= tournament.name %>"><span class="text-white"><%= tournament.name %></span><br>
                    <% end %>
                  </div>
            </div>
          <div class="col-3">
            <button style="margin-bottom: 0 !important;" type="submit" class="btn bg-secondary-color primary-color secondary-button">Actualizar</button>
          </div>
        </div>
    </form> 
    </div>
</div>
</div>

