<div class="row mt-3">
  <div class="col-12 col-md-10 mx-auto">
    <h3 class="text-white">Estadísticas</h3>

    <% if @tournament_selected %>
      
      <% if @total_points == 0 %>
        <p class="text-white">No se han jugado partidos.</p>  
      <% else %>
        <div class="row mt-4">
          <div class="col-12 col-md-6 mx-auto">
            <h5 class="text-center text-white">Mis Predicciones</h5>
            <canvas id="results"></canvas>
          </div>

          <div class="col-9 col-md-3 mx-auto">
            <h5 class="text-center text-white">Efectividad</h5>
            <canvas id="efectivity"></canvas>
          </div>
        </div>
      <% end %>

    <% else %>

      <button onclick="location.assign('/statistics?tournament=all&player_id=<%=@current_player.id%>')" id="submit-button" class="btn bg-primary-color mt-2">Ver totales</button>
      <h4 class="text-white mt-3" >Selecciona el torneo para el cual quieres consultar tus estadísticas:</h4>
      <ul>
        <% @tournaments.each do |t|%>
          <a class="link-primary" href="/statistics?tournament=<%= t.id%>&player_id=<%=@current_player.id%>"><li><%= t.name%></li></a>
        <% end %>
      </ul>
    <% end %>

    
 
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labelsResults = [
    "Éxitos",
    "Éxitos Parciales",
    "Fallos"
  ];

  const dataResults = {
    labels: labelsResults,
    datasets: [{
      label: 'Resultados Predicciones',
      backgroundColor: [
        "#44bb4980",
        "#f7f73680",
        "#e11a1a80"
      ],
      borderColor: [
        "#44bb49",
        "#f7f736",
        "#e11a1a"
      ],
      borderWidth: 1,
      data: [<%= @successes%>, <%= @partial_successes%>, <%= @fails%>],
    }]
  };

  const configResults = {
    type: 'bar',
    data: dataResults,
    options: {}
  };

  const chartResults = new Chart(
    document.getElementById('results'),
    configResults
  );

  const labelsEfectivity = [
    "Puntos Ganados",
    "Puntos Perdidos"
  ];

  const dataEfectivity = {
    labels: labelsEfectivity,
    datasets: [{
      label: 'Efectividad',
      backgroundColor: [
        "#44bb4980",
        "#e11a1a80"
      ],
      hoverOffset: 2,
      data: [<%= @efectivity%>, <%= (100-@efectivity)%>],
    }]
  };

  const configEfectivity = {
    type: 'pie',
    data: dataEfectivity,
    options: {
      title: {
        display: true,
        text: "Efectividad"
      }
    }
  };

  const chartEfectivity = new Chart(
    document.getElementById('efectivity'),
    configEfectivity
  );
</script>