<div class="row mt-5">
  <div class="col-12 col-md-10 mx-auto">
    <%if !@tournaments.empty?%>
      <h3 class="text-white" >Selecciona el torneo para el cual quieres realizar la prediccion:</h3>

      <ul>
        <% @tournaments.each do |t|%>
          <a class="link-primary" href="/play?id_tournament=<%= t.id%>"><li><%= t.name%></li></a>
        <% end %>
      </ul>

      <%if @torneo_selected%>
        <%if !@match_days.empty?%>
          <h3 class="text-white">Selecciona la instancia para la cual quieres realizar la prediccion:</h3>

          <ul>
            <% @match_days.each do |t|%>
              <a class="link-primary" href="/play?id_tournament=<%= t.tournament_id%>&id_match_day=<%= t.id%>"><li><%= t.description%></li></a>
            <% end %>
          </ul>

          <%if @match_day_selected%>
            <%if !@matches.empty?%>

              <h3 class="text-white">Partidos:</h3>

               <% if flash[:error] %>
                <p class="text-black alert alert-danger"><%=flash[:error]%></p>
              <% end %>
              <% if flash[:success] %>
                <p class="text-black alert alert-success"><%=flash[:success]%></p>
              <% end %>

              <% @matches.each do |t|%>
               <form action="/forecasts" method="post">
                <div class="row bg-primary-color rounded-2 p-2 mb-3">
                  <div class="col-10">
                    <div class="row">
                      <p class="col-6 col-md-3"><b>Fecha:
                      <% if t.datetime != nil %>
                        </b><%= t.datetime.strftime("%d-%m-%Y %H:%M")%>hs  
                      <% else %>
                        </b>A confirmar
                      <% end %> 
                      </p>
                      <% if t.match_type == 'ELIMINATION' %>
                        <p class="col-6 col-md-3"><b>Tipo: </b>Eliminación</p>
                      <% else %>
                        <p class="col-6 col-md-3"><b>Tipo: </b>Liga/Grupo</p>
                      <% end %>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-12 col-md-3">
                        <b class="mb-0"><span role="button" onclick="window.location.assign('/statistics/<%=t.home.name%>')"><%=t.home.name%></span> VS <span role="button" onclick="window.location.assign('/statistics/<%=t.away.name%>')"><%=t.away.name%></span></b>
                      </div>
                      <% if t.result? %>
                        <div class="col-12 col-md-3">
                          Resultado: <b><%=t.result%></b>
                        </div>
                        <div class="col-6 col-md-3 d-flex">
                          Goles local: <b><%=t.home_goals%></b>
                        </div>
                        <div class="col-6 col-md-3 d-flex">
                          Goles visitante: <b><%=t.away_goals%></b>
                        </div>
                      <% else %>
                        <div class="col-12 col-md-3">
                          Resultado: <select class="form-select-sm" name="result">
                            <option value="HOME">LOCAL</option>
                            <option value="AWAY">VISITANTE</option>
                            <% if t.match_type == 'LEAGUE' %>
                            <option value="DRAW">EMPATE</option>
                            <% end %>
                          </select>
                        </div>
                        <div class="col-6 col-md-3 d-flex">
                          Goles local: <input required class="ms-1 form-control form-control-sm" style="width: 50px;" min="0" type="number" name="home_goals">
                        </div>
                        <div class="col-6 col-md-3 d-flex">
                          Goles visitante: <input required class="ms-1 form-control form-control-sm" style="width: 50px;" min="0" type="number" name="away_goals">
                        </div>
                      <% end %>
                      
                    </div>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <% if t.result? %>
                      <b>Partido Finalizado</b>
                    <% else %>
                    <button style="margin-bottom: 0 !important;" type="submit" class="btn bg-secondary-color primary-color secondary-button mb-3">JUGAR</button>
                    <% end %>
                  </div>
                </div>
                <!-- add hidden input for send match_id -->
                <input type="hidden" name="match_id" value=<%=t.id%>>
                <!-- add the same input for the tournament in t.tournament_id-->
                <input type="hidden" name="tournament_id" value=<%=t.match_day.tournament_id%>> 
              </form>
              <% end %>
            <%else%>
              <p class="text-white">No hay partidos para la instancia seleccionada.</p>
            <%end%>
          <%end%>
          

        <%else%>
          <p class="text-white">No hay instancias disponibles correspondientes al toreno seleccionado.</p>
        <%end%>
      <%end%>

    <%else%>
      <p class="text-white">No hay torneos disponibles para jugar.</p>
    <%end%>
  </div>
</div>






