<div class="row mt-3">
  <div class="col-12 col-md-10 mx-auto">
  <div class="d-flex align-items-center">
    <h3 class="text-white me-3">Mis Predicciones</h3>
    <button onclick="location.assign('/statistics')" id="submit-button" class="btn bg-primary-color">Mis Estadísticas</button>
  </div>
    <%if !@forecasts.empty?%>
      <table style="border-color: #3aa17a;" class="text-white table table-bordered table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">Torneo</th>
            <th scope="col">Partido</th>
            <th scope="col">Predicción</th>
            <th scope="col">Goles Local</th>
            <th scope="col">Goles Visitante</th>
            <th scope="col">Puntos Obtenidos</th>
          </tr>
        </thead>
        <tbody>
          <% @forecasts.each do |forecast|%>
            <tr>
              <td><%= forecast.tournament.name%></td>
              <td><%= forecast.match.home.name%> VS <%= forecast.match.away.name%></td>
              <td>
                <% if forecast.result == "HOME" %>
                  LOCAL
                <% else %>
                  VISITANTE
                <% end %>
              </td>
              <td><%= forecast.home_goals%></td>
              <td><%= forecast.away_goals%></td>
              <td>
                <% if !forecast.points %>
                  No jugado
                <% else %>
                  <%= forecast.points%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%else%>
      <p class="text-white">Aún no has realizado predicciones.</p>
    <%end%>
  </div>
</div>
